body {
  font-family: "Open Sans", "Arial", sans-serif;
  color:#FFF;
margin-top:7rem;
      height:100%;
      width:100%;
      text-align: center;
      background-image: url("/background.png");
      background: #191919 center/cover url("/background.png") no-repeat;

}

h1 {
  z-index:100;
  position:relative;
}
#container{
  z-index:100!important;
  position: relative;
  align-content:center;
  text-align:center;
  top:auto;
  right:auto;
}
#logo_image {
  width:35vw;
  min-width:300px;

}
